.outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 400px;
  height: 650px;
  border-radius: 10px;
  background-color: black;
  font-size: 28px;
}
.upper {
  width: 100%;
  height: 125px;
  background-color: grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 45px;
}
.middle {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.num {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer {
  color: white;
}
.lower {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.conj {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.enter {
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calCont {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
